#title {
    padding: 10px;
    color: #464646;
}
body {
    background: rgb(204, 255, 255);
    background-size: cover;
    background-image: url("/static/watercolor.jpg");
}
table {
    width: 100%;
    text-align: center;
}

