{% extends "main.j2" %}


{% block title %}
Households Members
{% endblock %}


{% block heading %}
Households Members
{% endblock %}


{% block content %}
<table>
<thead>
<tr>
<!-- Get table headers -->
{% if households_members %}
    {% for key in households_members[0].keys() %}
        <th>{{ key }}</th>
    {% endfor %}
        <th>Edit</th>
{% else %}
    <p>There are currently no households members listed.<p>
{% endif %}
</tr>
</thead>

<tbody>
<!-- Get table elements -->
{% for attribute in households_members %}
<tr>
    {% for key in attribute.keys() %}
        <td>{{attribute[key]}}</td>
    {% endfor %}
        <td><a href="households-members-edit/{{attribute.ID}}" /><i class="fa-solid fa-cart-plus" style="color:black"></i></td>
        <td><a href="households-members-delete/{{attribute.ID}}" /><i class="fa-solid fa-trash-can" style="color:black"></i></td>
</tr>
{% endfor %}
</table>
</tbody>

<br />

<!-- Add a Household Member -->
<form action="{{url_for('view_households_members.households_members')}}" method="POST">
<fieldset>
<legend>Add a Household Member</legend>

<div class='form-group'>
<span class="border"></span>
<label>Name
<div>
    <input type="text" name="name" size="12" maxlength="45" required="required">
</div>
</label>

<div>
<label>Household
    <select class="form-control" name="id_household">
    <option value="">Select (Optional)</option>
    {% for household in household_dropdown %}
    <option value="{{ household.id_household }}">{{ household.name }}</option>
    {% endfor %}
    </select>
</label>
</div>

<div class="custom-control custom-radio">
  <input class="custom-control-input" type="radio" id="runner_status1" name="runner_status" value="1" required>
    <label class="custom-control-label" for="runner_status1">Dedicated Runner</label>
</div>
<div class="custom-control custom-radio">
  <input class="custom-control-input" type="radio" id="runner_status2" name="runner_status" value="0" required>
    <label class="custom-control-label" for="runner_status2">Not Runner</label>
</div>
</fieldset>

<button class="btn btn-primary" type="submit" name="Add_Households_Members" value="Add Households Member">Add</button>
</div>
</form>
{% endblock %}