{% extends "main.j2" %}


{% block title %}
Households Items
{% endblock %}


{% block heading %}
Households Items
{% endblock %}


{% block content %}
<table>
<thead>
<tr>
<!-- Get table headers -->
{% if households_items %}
    {% for key in households_items[0].keys() %}
        <th>{{ key }}</th>
    {% endfor %}
        {# <th>Edit</th> #}
{% else %}
    <p>There are currently no households items listed.</p>
{% endif %}
</tr>

<tbody>
<!-- Get table elements -->
    {% for attribute in households_items %}
<tr>
    {% for key in attribute.keys() %}
        <td>{{attribute[key]}}</td>
    {% endfor %}
        <td><a href="households-items-delete/{{attribute.id}}" /><i class="fa-solid fa-trash-can" style="color:black"></i></td>
</tr>
{% endfor %}
</table>

<!-- Add a Household Item -->
<form action="{{url_for('view_households_items.households_items')}}" method="POST">
<fieldset>
<legend>Add a Household Item</legend>

<label>Item Type
    <select class="form-control"  name="item_type">
    <option value="">--Select--</option>
    {% for type in items_types_dropdown %}
    <option value="{{ type.id_item_type }}">{{ type.name }}</option>
    {% endfor %}
    </select>
</label>

<label>Name
<div>
    <input type="text" name="name" size="12" maxlength="45" required="required">
</div>
</label>

<label>Best If Used By
<div>
    <input type="date" name="best_if_used_by" size="12" maxlength="45" required="required">
</div>
</label>

</fieldset>
<button class="btn btn-primary" type="submit" name="Add_Households_Items" value="Add a Household Item">Add</button>
</div>
</form>
{% endblock %}